
*{
  box-sizing:border-box;
  font-family: 'Seoge UI',Tahoma,geneva,verdana,sans-serif;
}

body{
  background-color: #C8D9EB;
}

.main-content{
  display:grid;
  grid-template-columns: 300px 700px;
  min-height:1000px;
  width:90%;
  margin:20px auto;
  justify-content:center;

}

.left-section{
grid-column:span 1;
background-color: #D77FA1;

}

.right-section{
grid-column: span 1/span 2;
background-color: #BAABDA;
}

.left-content{
  padding: 1rem;
}
.profile-image{
  margin:auto;
  display:block;
  width:60%;
  border-radius: 30%;
  border:5px solid white;
}
.name{
  font-size: 1.2rem;
  font-weight:700;
  text-align:center;
  text-transform: uppercase;
  letter-spacing: 0.02px;
  padding: 0.8rem;
  color:#FEECE9;
}
.designation{
font-size: 1rem;
text-align:center;
text-transform: uppercase;
padding-bottom: 0.5rem;
color: #D6E5FA;
}
.description{
  font-size: 0.75rem;
  text-align:center;
  padding: 1rem;
  color:#FFF9F9;
}
a{
    line-height: 0.2em;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 2px;
    color:#FBCAFF;
}
.skills{
  font-size: 0.75rem;
  text-align:center;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color:#FEECE9;
}
.skill-name{
  font-size: 0.65rem;
  font-weight:0.65rem;
  text-align: left;
  padding-bottom: 0.5rem;
  color: #D6E5FA;
}
.progress-bar{
  border: 1px white solid;
  height:4px;
background: #FEECE9;
border-radius: 16px;
}


.right-main-content{
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.right-title{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem;
  letter-spacing: 1px;
  color: #B762C1;
}

.para{
  font-size: 1rem;
  padding: 0.5rem;
  letter-spacing: 1px;
  color:#072227;

}
.experience-content{
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left:auto;
  margin-right:auto;

}
.intern{
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left:auto;
  margin-right:auto;

}
.education{
  font-size: 1rem;
  letter-spacing: 1px;
  margin-left:auto;
  margin-right:auto;

}
table{
  color:#072227;
border-spacing: 20px;
}
.full-form .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.full-form:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 630px){
  .main-content{
    grid-template-columns: repeat(1,1fr);

  }
}

@media all and (max-width: 673px){
  .main-content{
    grid-template-columns: repeat(1,1fr);
grid-column: span 1;
  }
}

.s{
  position: relative;
top: 5.3px;
}
